<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion Github</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Inicio de Sesión con Github</h1>
    <a href="/auth/github" class="github-button">Iniciar Sesión con Github</a>
    <br>
    <a href="/login">Inicio sesion con Facebook</a>
    <br>
    <a href="auth/google">Inicio de sesion con Google</a>
    </div>
  
    
</body>
</html>