<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Home</h1>
    <h3>Perfil del Usuario</h3>
    <h3>ID:<%= user.id %> </h3>
    <p>Email:<%=user.emails[0].value%></p>
    <p>Nombre Usuario:<%=user.displayName%></p>
</body>
</html>